@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import './variables.css';
@import './typography-utilities.css';
@import './layout.css';
@import './forms.css';
@import './buttons.css';
@import './scrollbars.css';
@import './modal-helpers.css';
@import './modals.css';
@import './headers-and-uploads.css';
@import './content-and-inline-editing.css';
@import './questions-and-edits.css';
@import './student-answers.css';
@import './model-and-points.css';
@import './appendix-and-rules.css';
@import './grades-table.css';
@import './exam.css';
@import './login.css';
@import './index.css';
@import './multi-scan.css';
@import './multi-upload.css';
@import './scan.css';
@import './scan-and-title.css';
