:root {
    /* Color Palette Variables */
    --color-background: #f7f7ff; /* Light cream for main background, buttons, flash */
    --color-background-border: #ebebff;
    --color-background-border-between: #d6d6ff;
    --color-background-box-shadow: #c2c2ff;
    --color-text-dark: #14110f; /* Dark charcoal for text, borders, and success states */
    --color-text-light: #f7f7ff; /* Same as background, used for text on dark surfaces */
    --color-primary: #0066ff; /* Main blue for buttons */
    --color-light-blue-three: #adceff;
    --color-light-blue-two: #c2daff;
    --color-lighter-blue: #d6e7ff;
    --color-blue-pastel: #334195;
    --color-blue-pastel-light-one: #7684d0;
    --color-blue-pastel-light-two: #959fdb;
    --color-green-pastel: #02a147;
    --color-green-pastel-light-one: #02ca59;
    --color-green-pastel-light-two: #02de62;
    --color-green-pastel-light-three: rgba(235, 255, 243, 0.4);
    --color-danger: #e3170a;
    --color-danger-light: #fba39d;
    --color-danger-between: #f86c62;
    --color-disabled-bg: #dcd8d0; /* Beige for disabled upload button */
}
